@media screen and (max-width: 950px)
{
    .nav-bar
    {
        height:auto;
        flex-direction: column;
        padding-bottom: 10px;
        align-items: center;

    }

    .nav-bar ul li
    {
        width: 100%;
        text-align: center;
        margin: 10px auto;
    }
    
    .banner-img
    {
    width: 100%;
    height: 600px;
    margin: 0px;
    }

    hr
    {
    width: 75%;
    align-items: center;
    }

    .burger-type
    {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    
    .footer
    {
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    .footer-div1 h4
    {
    text-align: center;
    width: 100%;
    
    }

    .footer ul
    {
    padding-left: 0px;
    }

    
    .footer ul li
    {
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    }

    .footer-div1 
    {
    padding: 0px;
    align-items: center;
    }

    .footer-div1 h4
    {
    padding: 0px;
    align-items: center;
    color: rgb(239, 226, 109);
    }


    .footer-div2
    {
    justify-content:center;
    padding:0px ;
    padding-top: 15px;
    }

    .footer-div3
    {
    padding: 0px;
    align-items: center;
    width: auto;
    }

    .footer-div3 h4
    {
    text-align: center;
    }
    
    .footer-div3 p
    {
    text-align: center;
    }

}