
@media (max-width: 600px) {
    .container {
      flex-direction: column;
    }
  }
  
  /* For tablets */
  @media (min-width: 600px) and (max-width: 1024px) {
    .container {
      flex-direction: row;
    }
  }


body {
    margin: 0px;
    text-align: center;
    font-family: "Merriweather", serif;
    }


h1
{
       font-family: "Sacramento", cursive;
       
     }
    
.h1-top {
    margin-top: 0;
    margin-bottom: 0;
    padding:0px;
    position: relative;
    /* top: -100px; */
    font-family: "Sacramento", cursive;
    font-size: 4.5em;
    color: #50a98f;
   }

p
{
   font-family: "Montserrat", sans-serif;
   font-size:1em;
}

.p-software
{
    position: relative;
    /* top: -110px; */
    font-family: "Montserrat", sans-serif;
    color: #42af8f;
}

.top-container {background-color: #E4F9F5; width: 100%; padding: 10px;}

.middle-container {padding: 20px; background-color: #58ae95; color:#E4F9F5; width: 100%; height: auto ;padding: 10px;}

.bottom-container {padding: 20px; background-color:#c0e3c7; color: #044935; width: 100%; height: auto; padding: 10px;}

.footer-container {padding: 20px; background-color:#59bda1; color: #E4F9F5; width: 100%; height: auto; padding: 10px;}

img {display: inline-block;}

.img-mountain
{
    height: 150px;
    width: 350px;
    /* position: relative; */

    /* top: -75px */
}

.img-cloud
{
    height: 100px;
    width: 150px;
    margin: 0px;
    position: relative;
    top:25px;
    left: 140px;
    padding: 0px;
}

.img-cloud2
{
    height: 200px;
    width: 250px;
    margin: 0px;
    padding: 0px;
    position: relative;
    /* top:-350px; */
    left: -480px;
}

.my-photo
{
    height: 150px;
    width: 150px;
    /* position: relative; */
}

.img-dev
{
    height: 150px;
    width: 150px;
}