body {
    margin: 0;
    text-align: center;
    font-family: "Merriweather", serif;
    }


h1
{
       font-family: "Sacramento", cursive;
       
     }
    
.h1-top {
    margin-top: 0;
    margin-bottom: 0;
    padding:0px;
    position: relative;
    top: -100px;
    font-family: "Sacramento", cursive;
    font-size: 5.5em;
    color: #50a98f;
   }

p
{
   font-family: "Montserrat", sans-serif;
   font-size:1em;
}

.p-software
{
    position: relative;
    top: -110px;
    font-family: "Montserrat", sans-serif;
    color: #42af8f;
}

.top-container {background-color: #E4F9F5; width: 100%;}

.middle-container {padding: 20px; background-color: #42af8f; color:#E4F9F5; width: 100%;}

.bottom-container {padding: 20px; background-color:#b1e0ba; color: #044935; width: 100%;}

.footer-container {padding: 20px; background-color:#5acbab; color: #E4F9F5; width: 100%;}

img {display: inline-block;}

.img-mountain
{
    height: 250px;
    width: 450px;
    position: relative;

    top: -75px
}

.img-cloud
{
    height: 100px;
    width: 150px;
    margin: 0px;
    position: relative;
    top:-10px;
    left: 240px;
    padding: 0px;
}

.img-cloud2
{
    height: 200px;
    width: 250px;
    margin: 0px;
    position: relative;
    top:-350px;
    left: -480px;
}

.my-photo
{
    height: 150px;
    width: 150px;
    position: relative;
}

.img-dev
{
    height: 150px;
    width: 150px;
}
